@import './base.css';
 
body {
    font-family: "Outfit";
    color: var(--colors-text-primary);
    background-color: var(--colors-background-primary);;
}

main {
    padding: 10px;
}

.bg-card {
    padding: 15px;
    background-color: var(--colors-background-secondary);
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px var(--colors-background-shadow);
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    height: fit-content;
    width: fit-content;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px var(--colors-background-shadow);
}